@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="bio">
        <div class="bio-image">
            <img class="profile-image" src="https://sweapp.s3.us-west-2.amazonaws.com/user-profiles/jptugirimana.jpg" />
        </div>
        <div class="bio-text">
            <h1>JP Tugirimana</h1>
            <h2> Software Engineer</h2>
            <p> Fullstack web applications, REST APIs, DevOps (AWS & Azure) </p>
            <div class="links">
                <a href="https://www.linkedin.com/in/jptugirimana/" target="_blank">
                    LinkedIn Profile
                </a>
                <br />
                <a href="https://github.com/JPTugirimana" target="_blank">
                    GitHub
                </a>
                <!-- Add more <a> tags for additional links -->
            </div>
        </div>
        
    </div>
    <div class="logos">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/aspdotnet.png" alt="ASP.NET">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/csharp.png" alt="C#">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/git.png" alt="Git">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/python-logo.png" alt="Python">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/mysql.png" alt="MySQL">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/aws.png" alt="AWS">
        <img src="https://sweapp.s3.us-west-2.amazonaws.com/images/mssql.png" alt="MSSQL Server">
        <!-- Add more <img> tags for additional logos -->
    </div>
    
    
</div>
